{% extends "layout.html" %}

{% block content %}
    <div class="row">
        {% raw %}
        <div class="col-md-6" ng-controller="SlaveStatusCtrl">
            <h2>MySQL Backup</h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, value) in data">
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endraw %}
        {% raw %}
        <div class="col-md-6" ng-controller="SensorStatusCtrl">
            <h2>Sensors</h2>
            <h3 ng-repeat-start="sensor in data">
                {{ sensor.chip }} at {{ sensor.adapter }}
            </h3>
            <table class="table table-striped table-hover" ng-repeat-end>
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="feature in sensor.features">
                        <td>{{ feature.label }}</td>
                        <td>{{ feature.value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endraw %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/home.js')}}"></script>
{% endblock %}
